<!-- Footer -->
<footer class="page-footer" style="
    position: relative;   bottom:0;
    
    ">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-md-1 col-md-offset-4 text-center">
                <!-- Facebook -->
                <a class="fb-ic" href="https://facebook.com/">
                    <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <br>
            </div>
            <div class="col-md-1 text-center">
                <!-- Twitter -->
                <a class="tw-ic" href="https://twitter.com/">
                    <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <br>
            </div>
            <div class="col-md-1  text-center">
                <!--Instagram-->
                <a class="ins-ic" href="https://instagram.com/">
                    <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                </a>
                <br>
            </div>
            <div class="col-md-1  text-center">
                <!--Pinterest-->
                <a class="pin-ic" href="https://pinterest.com/">
                    <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                </a>
            </div>

        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-xs-12 text-center">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="#"> Ivan Ivusic+</a>
            </div>
            <!-- Copyright -->
        </div>
    </div>


</footer>
<!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="module" src="/js/auth/login.js"></script>