<html>

<head>
       <title>Prijava</title>
       {{>links}}
</head>

<body>

       <div id="login-message"></div>

       <div class="container">
              <!--Naslov-->
              <br>
              <div class="row">
                     <div class="col-md-4">
                            <br>
                            <h1>Registracija</h1>
                     </div>

              </div>
              <br><br><br>
              <div class="signupbox prijavna-forma">

                     <form method="POST" action="" id="signUpForm" autocomplete="off" enctype="multipart/form-data">

                            <div class="row">
                                   <div class="col-md-6">
                                          <label class="form-label" name="firstname">Ime:</label><br>
                                          <input class="form-control" type="text" placeholder="Unesi ime" value=""
                                                 name="firstname" id="signUp-firstname" /><br>
                                   </div>
                                   <div class="col-md-6">
                                          <label class="form-label" name="lastname">Prezime:</label><br>
                                          <input class="form-control" type="text" placeholder="Unesi prezime" value=""
                                                 name="lastname" id="signUp-lastname" /><br>
                                   </div>
                            </div>
                            <div class="row">
                                   <div class="col-md-6">
                                          <label class="form-label" name="username">Korisnicko ime:</label><br>
                                          <input class="form-control" type="text" placeholder="Unesi korisnicko ime"
                                                 value="" name="username" id="signUp-username" /><br>
                                   </div>
                                   <div class="col-md-6">
                                          <label class="form-label" name="email">E-mail:</label><br>
                                          <input class="form-control" type="email" placeholder="Unesi email" value=""
                                                 name="email" id="signUp-email" /><br>
                                   </div>
                            </div>

                            <div class="row">
                                   <div class="col-md-6">
                                          <label class="form-label" name="password">Sifra:</label><br>
                                          <input class="form-control" minlength="8" type="password"
                                                 placeholder="Unesi sifru" value="" name="password"
                                                 id="signUp-password" /> <br>
                                   </div>
                                   <div class="col-md-6">
                                          <label class="form-label" name="passwordConfirm">Sifra provjera:</label><br>
                                          <input class="form-control" minlength="8" type="password"
                                                 placeholder="Unesi sifru" value="" name="passwordConfirm"
                                                 id="signUp-passwordConfirm" /> <br>
                                   </div>
                            </div>
                            <div class="row">
                                   <div class="col-md-6 col-md-offset-3">
                                          <button class="form-sign-btn btn btn-primary"
                                                 type="submit">Registracija</button><br>
                                          <a href="/prijava" style="cursor: pointer">Vec imate racun? Prijava!</a>

                                   </div>
                            </div>
                     </form>
              </div>
       </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
       crossorigin="anonymous"></script>
<script type="module" src="/js/signUp.js"></script>

</html>