<html>

<head>
       <title>Prijava</title>
       {{>links}}
</head>

<body>

       <div id="login-message"></div>

       <div class="container">
              <!--Naslov-->
              <br>
              <div class="row">
                     <div class="col-md-4">
                            <br>
                            <h1>Registracija</h1>
                     </div>

              </div>
              <br><br><br>
              <div class="signupbox prijavna-forma">

                     <form method="POST" action="" id="registerForm" autocomplete="off" enctype="multipart/form-data">

                            <div class="row">
                                   <div class="col-md-6">
                                          <label class="form-label" name="firstName">Ime:</label><br>
                                          <input class="form-control" type="text" placeholder="Unesi ime" value=""
                                                 name="firstName" id="firstName" /><br>
                                   </div>
                                   <div class="col-md-6">
                                          <label class="form-label" name="lastName">Prezime:</label><br>
                                          <input class="form-control" type="text" placeholder="Unesi prezime" value=""
                                                 name="lastName" id="lastName" /><br>
                                   </div>
                            </div>
                            <div class="row">
                                   <div class="col-md-6">
                                          <label class="form-label" name="userName">Korisnicko ime:</label><br>
                                          <input class="form-control" type="text" placeholder="Unesi korisnicko ime"
                                                 value="" name="userName" id="userName" /><br>
                                   </div>
                                   <div class="col-md-6">
                                          <label class="form-label" name="email">E-mail:</label><br>
                                          <input class="form-control" type="email" placeholder="Unesi email" value=""
                                                 name="email" id="email" /><br>
                                   </div>
                            </div>

                            <div class="row">
                                   <div class="col-md-6">
                                          <label class="form-label" name="password">Sifra:</label><br>
                                          <input class="form-control" minlength="8" type="password"
                                                 placeholder="Unesi sifru" value="" name="password"
                                                 id="password" /> <br>
                                   </div>
                                   <div class="col-md-6">
                                          <label class="form-label" name="passwordConfirm">Sifra provjera:</label><br>
                                          <input class="form-control" minlength="8" type="password"
                                                 placeholder="Unesi sifru" value="" name="passwordConfirm"
                                                 id="passwordConfirm" /> <br>
                                   </div>
                            </div>
                            <div class="row">
                                   <div class="col-md-6 col-md-offset-3">
                                          <button class="form-sign-btn btn btn-primary"
                                                 type="submit">Registracija</button><br>
                                          <a href="/prijava" style="cursor: pointer">Vec imate racun? Prijava!</a>

                                   </div>
                            </div>
                     </form>
              </div>
       </div>

</body> 
<script type="module" src="/js/auth/register.js"></script>

</html>